.field-validation-error {
    color: red;  
}
 body {
    background-image: url(/Images/background_register.jpg);

    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    width: 400px;
    margin: 30px auto;
}

.text {
    text-align: center;
    color: #184b7f;
    margin-top: 32px;
}

#main {
    width: 600px;
    margin: 30px auto;
}

.inputsfullname {
    margin-top: 20px;
}

.inputSignIn {
    border: 2px solid #184b7f;
    width: 240px;
    margin-left: 180px;
    height: 30px;
    font-size: 14pt;
    margin-top: 20px;
}

.inputSignInRegister {
    width: 300px;
    margin: 20px 150px;
}
#inputRegisterFaculty
{
    width: 450px;
    margin-left: 75px;
}
.field-validation-error
{
    width: 300px;
    margin: 20px 150px;
}

.inputRegisterStep2{
    width: 280px; 
    margin: 0 160px; 
    height: 30px; 
    font-size: 14pt;
}

#inputSignInUsername{
    margin-left: 0px;
}

#nextstep {
    margin-left: 180px;
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 26pt;
}

       
#nextsteptext4 {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 26pt;
    text-decoration: none;
}

#addavatar {
    margin-left: 228px;
    margin-top: 20px;
    background: none;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 18pt;
}

       

.slate {
    background-width: 280px;
    margin-top: 16px;
    background: transparent;
}

    .slate > select {
        border: 2px solid #184b7f;
        width: 280px;
        height: 30px;
        font-size: 14pt;
        background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearence: none;
        margin-left: 160px;
    }

/*#city {
    width: 600px;
    margin-left: -45px;
    margin-bottom: 20px;
}*/

#inputSignInDateOfBirth {
    margin-left: 180px;
    height: 30px;
    font-size: 14pt;
}

.imgavatar {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-left: 150px;
    margin-top: 20px;
}
#maintext {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 830px;
    height: 400px;
    margin: auto;
}
#inputval {
    position: relative;
    left: 5px;
    top: 8px;
    width: 32px;
    height: 32px;
}