body {
    background-image: url(../../Images/background_register.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main {
    position: absolute;
    top: 0; 
    bottom: 40px;
    left: 0;
    right: 0;
    width: 500px;
    height: 400px;
    margin: auto;
}
#mainheader {
    font-size: 22pt;
}
#mainsubheader {
    margin-top: 20px;
    margin-left: 40px;
    font-family: Georgia;
    font-size: 32pt;
    color: #184b7f;
}
.inputSignIn {
    border: 2px solid #184b7f;
    width: 240px;
    margin-left: 135px;
    font-size: 18pt;
    margin-top: 16px;
}
#inputSignInBtn {
    margin: 20px auto;
    width: 105px;
    font-family: Georgia;
    font-size: 23pt;
    color: #184b7f;
    cursor: pointer;
}
#mainsettings {
    width: 500px;
    margin: 0 auto;
}
.settingsheader {
    width: 500px;
    text-align: center;
    margin: 50px auto;
    color: #184b7f;
    font-family: Georgia;
    font-size: 16pt;
    cursor: pointer;
}
.avatarform {
    position: relative;
    right: 50px;
    width: 500px;
}
.inputSignIn {
    font-size: 14pt;
}
.avatarform > .nextstep {
    
    margin-left: 200px;
    width: 200px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 18pt;

    }

.nextstep {
    
    margin-left: 160px;
    margin-top: 15px; 
    width: 200px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 18pt;

    /*margin-left: 130px;
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 26pt;*/
}
.slate {
    margin-left: -50px;
}
#city {
    margin-right: 50px;
}
#changeavatar {
    width: 500px;
    display: none;
} 
#changecity {
    display: none;
} 
#changepassword {
    display: none;
} #changestatus {
      display: none;
} #changestudentdata {
    display: none;
}