body {
    background-image: url(../../Images/background_register.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    margin: auto;
}
#mainbiglogo {
    width: 400px;
}
#mainsubheader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia;
    font-size: 26pt;
    width: 359px;
    color: #184b7f;
}
.mainsubheadermain {
    color: white;
}

.inputSignIn {
    border: 2px solid #184b7f;
    width: 240px;
    margin-left: 80px;
    height: 30px;
    font-size: 14pt;
    margin-top: 20px;
}
#inputSignInBtn {
    margin: 20px auto;
    width: 105px;
    font-family: Georgia;
    font-size: 23pt;
    color: #184b7f;
    cursor: pointer;
    padding-left: 10px;
}

#recoverpassword {
    text-align: center;
    margin-top: 20px; 
}

#recoverpasswordlnk {
    text-decoration: none;
    font-size: 18pt;
    color: #184b7f;
   
}