body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#wrapper {
    display: inline-flex;
    position: absolute;
    left: 0px;
    top: 40px;
    min-height: 100%;
    width: 100%;
}

#aside {
    background: #e7e7e7;
    width: 300px;  
    height: 100%;
    position: fixed; 
}

#toolbar {
    position: fixed;
    z-index: 1000;
}

#main {
    margin: 0 auto;
    position: relative;
    left: 30px;
}

.attachImg{
    width: 670px;
}
#taskImages > img {
    width: 630px;
}
#maininputmsgfilesin{
    height: 0;
    opacity: 0;
}
#maintaskheaders {
    color: #194b7f;
    font-size: 24pt;
    font-family: Georgia;
    position: relative;
    top: 40px;
    left: 200px;
    margin: 0 auto;
}
.left {
    cursor: pointer;
    float: left;
    display: inline-block;
}
.middle {
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
}
.right {
    cursor: pointer;
    float: right;
    display: inline-block;
}

#addfilesimg{
    position: relative; 
    top: -26px;
    left: 600px;
}

#addfilesimg > img
{
    margin-left: 12px;
}
#mainheader {
    cursor: pointer;
    color: #194b7f;
    font-family: Georgia;
    font-size: 20pt;
    position: relative;
    left: 40px;
    top: 40px;
     width: 800px;
    margin: 0 auto;
}

#tasks{
    position: relative;
    left: 35px;
    top: 60px;
    width: 800px;
    margin: 0 auto;
}
.task{
    position: relative;
    left: 0px;
    top: 50px;
   
}
.taskheader{
    background: #cfcfcf;
    width: 670px;
    min-height: 50px;
    
}
.searchheader {
    margin-top: 30px;
    font-size: 16pt;
    color: #505050;
}
.taskheadercontent{
    padding: 30px;
    font-size: 14pt;
    word-wrap: break-word;
}
.taskheadercontenttext {
    text-decoration: none;
    color: black;
    font-size: 14pt;
}
.tasktriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #cfcfcf;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -20px;
}
.taskcreator{
    font-size: 14pt;
    color: #52beff;
    position: relative;
    top: -30px;
    left: 32px;
    cursor: pointer;
}
.taskcategory {
    font-size: 16pt;
    cursor: pointer;
    color: #194b7f;
}
.taskprice {
    color: #56843a;
    margin-bottom: 10px;
    font-size: 16pt;
}
.taskcat {
    padding-bottom: 10px;
}
.catSym {
    color: #383838;
}
.taskcomments{
    position: relative;
    top: -74px;
    left: 550px;
    cursor: pointer;
}
.tasksubscribe {
    position: relative;
    top: -50px;
    left: 505px;
    width: 28px;
    cursor: pointer;
}
.tasksubscribe1 {
    position: relative;
    top: -50px;
    left: 505px;
    cursor: pointer;
}
.tasksubscribe2 {
    position: relative;
    top: -50px;
    left: 505px;
    cursor: pointer;
}
.tasklikes{
    position: relative;
    top: -105px;
    left: 615px;
    cursor: pointer;
}
.taskcount{
    color: #52beff;
    font-size: 16pt;
    position: relative;
    top: -7px;
    cursor: pointer;
}
.nofr {
    font-size: 15pt;
    text-align: center;
    line-height: 104pt;
}

.taskcommentshid{
    display: none;
    background: #cfcfcf;
    width: 670px;
}
.taskcontent {
    padding: 20pt;
    font-size: 13pt;
    word-wrap: break-word;
}
.taskcomment{
    width: 460px;
    margin-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.taskcommentcontent{
    background: #bbe5ff;
    width: 400px;
    min-height: 50px;
    margin-right: 60px;
}
.taskcommentcontenttext{
    padding: 20pt;
    font-size: 13pt;
    word-wrap: break-word;
}
.taskcommenttriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #bbe5ff;
    transform: rotate(315deg);
    margin-left: 377px;
    margin-top: -20px;
}
.taskcommentcreator{
    font-size: 14pt;
    color: #606060 ;
    position: relative;
    top: -25px;
    left: -100px;
    text-align: right;
    cursor: pointer; 
}


.maininputcomment{
    width: 460px;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.maininputcommentcontent{
    width: 460px;
    min-height: 50px; 
    background: #e7e7e7;
    font-size: 15pt;
}
.maininputcommentinput{
    padding: 20px;
    width: 420px;
    background: #e7e7e7;
    border: 0px;
    border-color: #e7e7e7;
    resize: vertical;
    overflow:hidden
}
.maininputcommentinput:focus{
    outline:0px !important;
   -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.maininputcommenttriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #e7e7e7;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -20px;
}
.maininputcommentsend{
    font-size: 17pt;
    position: relative;
    left: 330px;
    top: 40px;
    color: #51bdfe;
    background: #cfcfcf;
    border: 0px;
    outline:0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
#maininputmsg{
    width: 800px; 
    position: relative;
    top: 70px;
    left: 35px;
    overflow: hidden;
    display: none;
    margin: 0 auto;
}
#maininputmsgcontent{
    width: 670px;
    
    min-height: 50px; 
    background: #e7e7e7;
    font-size: 15pt;
}
#maininputmsgcontentinput{
    padding: 20pt;
    width: 670px;
    background: #e7e7e7;
    border: 0px;
    border-color: #e7e7e7;
    resize: vertical;
    overflow:hidden
}
#maininputmsgcontentinput:focus{
    outline:0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

#maininputmsgtriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #e7e7e7;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -20px;
}
#maininputmsgcontentsend{
    font-size: 17pt;
    position: relative;
    left: 540px;
    top: 40px;
    color: #51bdfe;
    border: 0px;
    background: white;
    outline:0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
.inputSignIn {
    border: 2px solid #184b7f;
    width: 240px;
    margin-top: 10px;
    height: 30px;
    font-size: 14pt;
   
}
 .slate {
    margin-top: 16px;
    background: white;
     width: 240px;
}

.slate > select {
    border: 2px solid #184b7f;
    width: 240px;
    height: 30px;
    font-size: 14pt;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
#inputSignInContent {
    width: 630px;
    height: 100px;
}
.nextstep {
    margin-left: 180px;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 18pt;
}
#maininputmsgform {
    padding: 20px;
}
#maincreateheader {
    cursor: pointer;
    color: #194b7f;
    font-family: Georgia;
    font-size: 20pt;
    position: relative;
    top: 40px;
    left: 40px;
    width: 800px;
    margin: 30px auto;
}
.tasksubscribersheader {
    margin-left: 28px;
    font-size: 18pt;
}
.tasksubscribersuser {
    text-decoration: none;
    margin-left: 28px;
    line-height: 30pt;
    font-size: 16pt;
    color: #585858;
}
.checkasmainexecutive {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.uncheckasmainexecutive {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    cursor: pointer;
}
#tasksearchform {
    margin-left: 38px;
    margin-top: 20px;
}
#searchminprice {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
}
#searchmaxprice {
    margin-left: 40px;
    width: 100px;
}
#searchrequest {
    width: 240px;
}
.searchlinkbtn {
    font-size: 15pt;
    color: #194b7f;
    text-decoration: none;
}
.nextstepsearch {
    margin-left: 15px;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 18pt;
}