#toolbar {
    width: 100%;
    min-width: 1085px;
    height: 40px;
    background: #194b7f;
    vertical-align: middle;
}
#toolbarLogo {
    padding-top: 4px;
    padding-left: 55px;
    height: 10px;
}
#toolbarLogo a > img {
    height: 34px;
}

#toolbarMenu a > img {
    width: 34px;
    height: 34px;
}

#toolbarMenu {
    position: relative;
    top: -12.5px;
    margin-right: 30px;
    float: right;
    z-index:21;
}

#toolbarMenu > div {
    font-family: Georgia;
    font-size: 24pt;
    color: white;
    margin-left: 50px;
    float: left;
    cursor: pointer;
}
