 body {
     background-image: url(/Images/start.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    margin: auto;
}
#mainbiglogo {
    width: 400px;
}
#mainsubheader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia;
    font-size: 26pt;
    width: 359px;
    color: white;
}
#mainsigninbtn {
    margin: 30px auto;
    width: 250px;
    height: 60px;
    background: white;
    color: #184b7f;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
}
#mainsigninbtntext {
    padding-left: 20px;
    padding-top: 9px;
    font-size: 26pt;
    text-decoration: none;
}
#mainregister {
    margin: 30px auto;
    width: 105px;
    font-family: Georgia;
    font-size: 23pt;
    color: white;

}
#mainregistertext {
    font-family: Georgia;
    font-size: 23pt;
    color: white;
    text-decoration: none;
}