body{
    width: 100%;
    height: 100%;
}

#wrapper {
   display: inline-flex;
   margin-top: -8px;
}
#aside {
    float: left;
    background: #e7e7e7;
    height: 100%;
    width: 320px;
    margin-top: 40px;
}
#toolbar{
    position:fixed;
}
#asideusers{
    width: 320px;
    min-height: 100%;
     position: fixed;
    display: inline-block;
    background: #e7e7e7;
}
.asideuseravatar{
    float: left;
    margin-top: 5px;
    height: auto;
    overflow: auto;
}
.asideuser{
    font-family: HelveticaNeueCyr;
    margin-left: 30px;
    margin-top: 30px;
}
.asideusername{
    font-size: 16pt;
}
.asideusername > a {
    text-decoration: none;
    color: #194b7f;
}
.asideusermessage{
    padding-left: 50px;
    font-size: 14pt;
    margin-top: 12px; 
    width: 190px;
    height: auto;
    word-wrap: break-word;
    cursor: pointer;
}
.asideuserdetails{
    position: relative;
    left: 10px;
}

#main{
    flex: 1;
}
#mainmessages{
    width: 460px;
    display:block;
    margin: 0 auto;
}
.mainsendermsg{
    width: 460px;
    margin-left: 56px;
    margin-top: 50px;
    overflow: hidden;
}
.mainsenderavatar{
    position: relative;
    top: 60px;
    left: 410px;
}
.mainsendermsgcontent{
    background: #bbe5ff;
    width: 400px;
    min-height: 50px;
    margin-right: 60px;
}
.mainsendermsgcontenttext{
    padding: 20pt;
    font-size: 15pt;
    word-wrap: break-word;
}
.mainsendermsgtriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #bbe5ff;
    transform: rotate(315deg);
    margin-left: 377px;
    margin-top: -20px;
}
.mainsendermsgusername {
    cursor: pointer;
    position: relative;
    left: 290px;
    top: -25px;
}
.mainsendermsgusernamelnk {
    font-size: 16pt;
    color: #bbe5ff;
    cursor: pointer;
    text-decoration: none;
}
.mainreceivermsgusername {
    cursor: pointer;
    position: relative;
    left: 90px;
    top: -25px;
}
.mainreceivermsgusernamelnk {
    font-size: 16pt;
    color: #e7e7e7;
    cursor: pointer;
    text-decoration: none;
}
.mainreceivermsg{
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 50px;
    overflow: hidden;
}
.mainreceivermsg > .filerefs{
    
}
.mainreceivermsgcontent{
    background: #e7e7e7;
    width: 400px;
    min-height: 50px; 
    margin-left: 60px;
}
.mainreceivermsgcontenttext{
    padding: 20pt;
    font-size: 15pt;
    word-wrap: break-word;
}
.mainreceivermsgtriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #e7e7e7;
    transform: rotate(225deg);
    margin-left: 56px;
    margin-top: -20px;
}
.mainreceiveravatar{
    position: relative;
    top: 60px;
   
}
.mainavatarimg {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.maininputmsg{
    width: 460px; 
    margin-top: 60px;
}
.maininputmsgcontent{
    width: 460px;
    min-height: 50px; 
    background: #e7e7e7;
    font-size: 15pt;
}
.maininputmsgcontentinput{
    width: 455px;
    min-height: 100px;
    background: #e7e7e7;
    border: 0px;
    border-color: #e7e7e7;
    resize: vertical;
    overflow:hidden
}
.maininputmsgcontentinput:focus{
    outline:0px !important;
    -webkit-appearance:none;
}

.maininputmsgtriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #e7e7e7;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -20px;
}
#maininputmsgfilesin{
    height: 0;
    opacity: 0;
}
.maininputaddfile{
    position: relative;
    left: 210px;
    top: 32px;
}
.maininputaddphoto{
    position: relative;
    left: 150px;
    top: 32px;
}
.maininputmsgcontentsend{
    font-size: 14pt;
    position: relative;
    left: 351px;
    top: 32px;
    color: #51bdfe;
    border: 0px;
    background: white;
    outline:0px !important;
    -webkit-appearance:none;
}
#wrapper{
    width: 100%;
    height: 100%;
}
.mainmsgavatarst {
    border-radius: 25px;
}
