body {
    overflow-x: hidden;
}
#viewtasksbody{
    width: 100%;
    height: 100%;
}
.sendmsg {
    cursor: pointer;
}
.addsubscriber {
    cursor: pointer;
}
#wrapper{
    width: 1024px;
    margin: 30px auto;
}
#profile{
    width: 1024px;
    margin: 0 auto;
}
#profilebedgesandposts{
    width: 670px;
    height: 500px;
    position: relative;
    left: 380px;
    top: 20px;
    
}
#profilebedges{
    width: 670px;
    height: 180px;
    position: relative;
    z-index: 20;
}

#profilebedges{
    width: 670px;
    height: 208px;
    color: white;
    font-size: 16pt;
    font-family: Arial;
    background: #e4e4e4;
    margin-left:  35px;

}
#profilebedgesheader {
    background: #51bdfe;
    width: 670px;
    height: 40px;
    font-size: 14pt;
    font-family: Arial;
    line-height: 27pt;
}

#profilebackground{
    width: 350px;
    height: 534px;
    float: left;
}
#profilebackgrounddetails{
    margin: 20px auto;
}
#profilebackgrounddetailsavatar{
    width: 350px;
    height: 208px;
    background-image: url(../Images/profile_back.jpg);    
    background-size: 100% 100%;
}
#profilebackgrounddetailsavataricons{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 260px;   
}
#profilebackgrounddetailsavatarimg1 {
    width: 152px;
    height: 152px;
    border-radius: 250px;
    border: 1px solid #a9a9a9;
    margin-top: 132px;
    margin-left: 99px;
}
#profilebackgrounddetailsavataricons > img{
    margin-left: 25px;
}
#profilebackgrounddetailsavataricons > a{
    margin-left: 25px;
}
#profilebackgrounddetailstext{
    background-color: #e4e4e4;
    height: 260px;
}
#profilebackgrounddetailstextcred{
    position: relative;
    top: 90px;
}
#profiledetailsfullname{
    font-family: Arial;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
}
#profiledetailsusername{
    font-family: Arial;
    font-size: 14pt;
    color: #b1b1b1;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
#profilebackgrounddetailstasks {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18pt;
    padding-left: 25px;

}

#profiledetailsrating{
    font-family: Arial;
    font-size: 14pt;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 12px;
}
.mainstatus{
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.mainstatuscontent{
    background: #D8D8D8;
    width: 400px;
    min-height: 50px; 
}
.mainstatuscontenttext{
    padding: 20pt;
    font-size: 15pt;
    word-wrap: break-word;
}
.mainstatustriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #D8D8D8;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -17.8281254px;
}
#info{
    /*
    width: 1024px;
    margin: 30px auto;
    */
    margin-top: 30px;
}
#infoheader{
    width: 340px;
    color: white;
    font-size: 16pt;
    font-family: Arial;
    background: #52beff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

#maininputmsgfilesin{
    height: 0;
    opacity: 0;
}
.maininputaddfile{
    position: relative;
    margin-left: 10px;
}
.maininputaddphoto{
    
}
.attachImg {
    width: 670px;
}

#maininputmsgfiles{
    background: url(../Images/round/attachment.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#infocontent{
    background: #c2dbee;
    width: 350px;
    min-height: 200px;
    font-size: 14pt;
    font-family: Arial;
}

.infocontentrow{
    padding-left: 10px;
    padding-top: 10px;  
    font-size: 12pt;
}
.infocontentkey{
    width: 180px;
    float: left;
    
}
.infocontentvalue{
    display: table-cell;
    word-wrap: break-word;
}
#friends{
    margin-top: 30px;
}

#subscribers {
    margin-top: 30px;
}
.friendsheader{
    width: 330px;
    color: white;
    font-size: 14pt;
    font-family: Arial;
    background: #52beff;
    padding: 10px;
    text-decoration: none;
}
.friendavatarimg {
    width: 75px;
    height: 75px;
    border-radius: 75px;
}
.friendscontent{
    background: #c2dbee;
    width: 350px;
    min-height: 220px;   
}
.friendcontentrow{
    display: inline-block;   
    margin-left: 30px;
    margin-top: 10px;
}
.friendname{
    font-family: arial;
    margin-top: 5px;
    text-align: center;
    color: #52beff;
    padding-bottom: 20px;
}
#posts{
    margin-top: 30px;
    position: relative;
    left: 35px;
    top: -300px;
    z-index: 10;
}
.post{
    margin-bottom: 50px;
    overflow: hidden;
}
.postcontent{
    background: #cfcfcf;
    width: 670px;
    min-height: 50px; 
}
.postcontenttext{
    padding: 20pt;
    font-size: 14pt;
    word-wrap: break-word;
}
.posttriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #cfcfcf;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -40px;
}

.postcreator{
    font-size: 15pt;
    color: #52beff;
    position: relative;
    top: 5px;
    left: 30px;
    cursor: pointer;
}
.postbuttons {
    float: right;
    position: relative;
    top: -10px;
}
.postdelete {
    margin-right: 25px;
    float: left;
    cursor: pointer;
}
.postcomments{
    /*position: relative;*/
    float: left;
    /*top: -49px;*/
    /*left: 547px;*/
    margin-right: 25px;
}
.postlikes{
    /*position: relative;*/
    /*top: -79px;*/
    /*left: 615px;*/
    float: left;
    
    cursor: pointer;
}
.postcount{
    color: #52beff;
    font-size: 16pt;
    position: relative;
    top: -7px;
    cursor: pointer;
}
.nofr {
    font-size: 15pt;
    text-align: center;
    line-height: 160pt;
}
.postheaderh {
    color: #194b7f;
    font-size: 25pt;
    margin-bottom: 20px;
}
.postcommentshid{
    display: none;
    background: #cfcfcf;
    width: 670px;
}
.postcomment{
    width: 460px;
    margin-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.postcommentcontent{
    background: #bbe5ff;
    width: 400px;
    min-height: 50px;
    margin-right: 60px;
}
.postcommentcontenttext{
    padding: 20pt;
    font-size: 12pt;
    word-wrap: break-word;
}
.postcommenttriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #bbe5ff;
    transform: rotate(315deg);
    margin-left: 377px;
    margin-top: -20px;
}
.postcommentcreator{
    font-size: 14pt;
    color: #606060 ;
    position: relative;
    top: -25px;
    left: -100px;
    text-align: right;
    cursor: pointer; 
}

.maininputcomment{
    width: 460px;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.maininputcommentcontent{
    width: 460px;
    min-height: 50px; 
    background: #e7e7e7;
    font-size: 15pt;
}
.maininputcommentinput{
    padding: 20pt;
    width: 420px;
    background: #e7e7e7;
    border: 0px;
    border-color: #e7e7e7;
    resize: vertical;
    overflow:hidden
}
.maininputcommentinput:focus{
    outline:0px !important;
    -webkit-appearance:none;
    -moz-appearance: none;
    -o-appearance: none;
}

.maininputcommenttriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #e7e7e7;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -20px;
}
.maininputcommentsend{
    font-size: 14pt;
    position: relative;
    left: 350px;
    top: 40px;
    color: #51bdfe;
    background: #cfcfcf;
    border: 0px;
    outline:0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

#maininputmsg{
    width: 670px; 
    margin-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}
#maininputmsgheader{
    color: white;
    font-size: 16pt;
    font-family: Arial;
    text-align: center;
    background-color: #51bdfe;
    padding: 10px 0px 10px 10px;
}
#maininputmsgcontent{
    width: 670px;
    min-height: 50px; 
    background: #e7e7e7;
    font-size: 15pt;
}
#maininputmsgcontentinput{
    padding: 20pt;
    width: 670px;
    background: #e7e7e7;
    border: 0px;
    border-color: #e7e7e7;
    resize: vertical;
    overflow:hidden
}
#maininputmsgcontentinput:focus{
    outline:0px !important;
    -webkit-appearance:none;
}

#maininputmsgtriangle {
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #e7e7e7;
    transform: rotate(225deg);
    margin-left: -4px;
    margin-top: -20px;
}
.maininputmsgcontentdivsend{
    
    position: relative;
    left: 500px;
    top: 32px;
    
}
#maininputmsgcontentsend{
    font-size: 14pt;
    color: #51bdfe;
    border: 0px;
    background: white;
    outline:0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
.postcont {
    padding: 20px;
}