#wrapper {
    display: inline-flex;
    margin-top: -8px;
}
#aside {
    float: left;
    background: #e7e7e7;
    margin-top: 40px;
    width: 320px;
    min-height: 100%;
    
}
#toolbar{
    position:fixed;
    z-index: 1000;
}
#main {
    margin-left: 50px;
    margin-top: 50px;
}
.profile > div {
    margin-top: 15px;
}
/*.profile > div:first-of-type {
    margin-top: 30px;
}*/

#tasksearchform {
    margin-left: 38px;
    margin-top: 20px;
}
#searchminPrice {
    width: 100px;
}
#searchmaxprice {
    margin-left: 75px;
    width: 100px;
}

.searchlinkbtn {
    font-size: 15pt;

    text-decoration: none;
}


.inputSignIn {
      border: 2px solid #184b7f;
    width: 240px;
    margin-top: 10px;
    height: 30px;
    font-size: 14pt;
   
}
 .slate {
  margin-top: 16px;
    background: white;
     width: 240px;
}

.slate > select {
    border: 2px solid #184b7f;
    width: 240px;
    height: 30px;
    font-size: 14pt;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
.nextstepsearch {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background: #184b7f;
    color: white;
    border-radius: 10px;
    font-family: Georgia;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 22pt;
}

.searchheader {
    margin-top: 30px;
    font-size: 16pt;
    color: #505050;
}
#searchminPrice {
    width: 100px;
}
#searchmaxprice {
    margin-left: 40px;
    width: 100px;
}
.profile{
    display: inline-block;
    width: 700px;
    margin: 15px auto;
}
.profileavatar {
    width: 150px;
    height: 150px;
    border-radius: 300px;
}
.header {
    margin: 30px 0;
    font-family: Arial;
    font-size: 22pt;
    color: #505050 ;
}
.profileusername {
    margin-left: 30px;
    font-family: Arial;
    font-size: 18pt;
    color: #606060;
}
.buttonadd {
    background: transparent;
    border: none;
    font-family: Arial;
    font-size: 18pt;
    margin-left: 25px;
    margin-top: 10px;
    color: #B1B1B1;
    text-decoration: none;
    cursor: pointer;
}
.link {
    margin-left: 33px;
    font-size: 16pt;
}
#profiles {
    width: 700px;
}