@model Kampus.Models.UserModel
@{
    ViewBag.Title = "Step4";
}
<html>
<head>
    <link rel="SHORTCUT ICON" href="~/Images/favicon.png" type="image/x-icon"/> <title>Реєстрація</title>
    @Scripts.Render("jquery")
    <link rel="stylesheet" href="../../Content/null_style.css" />
    <link rel="stylesheet" href="../../Content/register_style.css"/>
</head>
<body>
    <div id="logo">
        <img src="../../Images/logo_blue.png" width="400" />
    </div>
<div id="main" style="width: 830px">
    <div id="maintext">
        <div class="text" style="font-size: 26pt">Тепер ти повноцінний учасник нашої спільноти</div>

        <div class="text" style="font-size: 26pt">Спілкуйся, дружи, навчайся і розважайся разом з нами</div>

        <div class="text" style="font-size: 26pt">Відкрий для себе нові можливості</div>

        @using (Html.BeginForm("Step4", "Register", FormMethod.Post)){
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <input type="submit" id="nextstep" style="margin-left: 290px; margin-top: 30px;" value="Завершити" />
        }
    </div>
    
</div>
</body>
</html>

