<script type="text/html" id="message-template">
    <div class="mainsendermsg" data-bind="if: IsSender">
        <div class="mainsenderavatar">
            <div class="mainmsgavatarst">
                <img class="mainavatarimg" data-bind="attr: {src : Avatar}" width="50"/>
            </div>
        </div>
        <div class="mainsendermsgcontent">
            <div class="mainsendermsgimages" data-bind="if: Images.length > 0">
                <div data-bind="foreach: Images">
                    <img width="400" data-bind="attr: {src: '/Files/' + RealFileName }" />
                </div>
            </div>
            <div class="mainsendermsgcontenttext" data-bind="text: Content"></div>
                <div data-bind="if: Files.length > 0">
                    <div class="filerefs" data-bind="foreach: Files">
                        <div class="filerefcont">
                            <img src="/Images/round/attachment.png" /> <a data-bind="text: FileName, attr: { href: '/Files/' + RealFileName, class: 'fileref' }"> </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="mainsendermsgtriangle"></div>
        <div class="mainsendermsgusername"><a class="mainsendermsgusernamelnk" data-bind="attr: { href: 'Profile/Id/' + Id}, text: '@' + Username"></a></div>
        <input type="hidden" data-bind="attr: {value: Id}" class="messageid" name="messageid" />
    </div>
    <div class="mainreceivermsg" data-bind="ifnot: IsSender">
        <div class="mainreceiveravatar">
            <div class="mainmsgavatarst">
                <img class="mainavatarimg" data-bind="attr: {src: Avatar}" width="50" />
            </div>
        </div>
        <div class="mainreceivermsgcontent">
            <div class="mainreceiverimages" data-bind="if: Images.length > 0">
                <div data-bind="foreach: Images">
                    <img width="400" data-bind="attr: {src: '/Files/' + RealFileName  }" />
                </div>
            </div>
            <div class="mainreceivermsgcontenttext" data-bind="text: Content">

            </div>
            <div data-bind="if: Files.length > 0">
                <div class="filerefs" data-bind="foreach: Files">

                    <div class="filerefcont">
                        <img src="/Images/round/attachment.png" /> <a data-bind="text: FileName, attr: { href: '/Files/' + RealFileName, class: 'fileref' }"> </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="mainreceivermsgtriangle"></div>
        <div class="mainreceivermsgusername"><a class="mainreceivermsgusernamelnk" data-bind="attr: { href: 'Profile/Id/' + Id}, text: '@' + Username"></a></div>
        <input type="hidden" data-bind="attr: {value: Id}" class="messageid" name="messageid" />
    </div>
</script>    
