<script type="text/html" id="wallpost-comment-template">
    <div class="postcomment">
        <div class="postcommentcontent">
            <div class="postcommentcontenttext" data-bind="text: Content">
                
            </div>
        </div>
        <div class="postcommenttriangle"></div>
        <div class="postcommentcreator" data-bind="text: '@' +  Creator.Username"></div>
        <div>
            <input class="postcommentid" type="hidden" data-bind="attr: {value: Id}" />
        </div>
    </div>
</script>