<script type="text/html" id="messanger-template">
    <div class="asideuser">
        <div class="asideuseravatar">
            <img class="mainavatarimg" data-bind="attr: {str: Avatar }" />
        </div>
        <div class="asideuserdetails">
            <div class="asideusername">
                <a data-bind="attr: { href: '/Home/Conversation?username=' + Username }, text: '@' + Username" style="text-decoration: none"></a>
            </div>
            <div class="asideusermessage" data-bind="text: Message">
                
            </div>
        </div>
    </div>
</script>