@{
    ViewBag.Title = "Messages";
}

<link rel="stylesheet" href="../../Content/null_style.css" />
<link rel="stylesheet" href="../../Content/toolbar_style.css" />

<div id="toolbar">
    <div id="toolbarLogo">
        <img src="../../Images/logo.png">
    </div>
    <div id="toolbarMenu">
        <div>Люди</div>
        <div>Повідомлення</div>
        <div>Завдання</div>
        <div>Пошук</div>
        <div>Вихід</div>
    </div>
</div>

<h2>Messages</h2>

@foreach (var user in ViewBag.Messangers)
{
    <div>
        <div>Username: <a href="/Home/Conversation?username=@user.Username">@user.Username</a></div>
        @*<div>Last message: @ViewBag.Messages.ElementAt(ViewBag.Messangers.IndexOf(user)).Content</div>*@
    </div>
    <div>-------------------------------------------------------</div>
}
